// Place all the styles related to the timesheet controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.datepicker__input {
  font-size: inherit;
  box-shadow: none;
}

input:focus {
  outline: none;
  border-color: #aeaeae;
  box-shadow: inset 0 2px 2px #e9e9e9,0 0 10px 0 rgba(73,107,125,0.3);
}

button {
  color: white;
  *text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(66, 184, 221); /* this is a light blue */
}

button[disabled] {
  opacity: 0.3;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.weeklylogs {
  margin-bottom: 1em;
}

.timelog,
.weeklyLogsHeader {
  margin: 0.3em 0.5em;
}

.weeklyLogsHeader {
  background-color: #eee;
  margin-bottom: 0.75em;
}

.weeklyLogsHeader > [class *= "pure-u"],
.timelog > [class *= "pure-u"] {
  padding: 0 0.4em;
}


.timelog input,
.timelog button,
.timelog .text,
.weeklyLogsHeader .text {
  display: inline-block;
  min-width: 1px;
  width: 100%;
  line-height: 1.5em;
  padding: 0.2em 0.5em;
  border-radius: 4px;
  border: 1px solid #aeaeae;
}

.timelog button {
  border-color: rgb(66, 184, 221);
}


/*
.timelog input,
.timelog button {
  box-shadow: inset 0 2px 2px #e9e9e9;
}
*/

.timelog .text,
.weeklyLogsHeader .text {
  border-color: transparent;
}

.timelog-hours > :first-child,
.totalHours > :first-child {
  padding-right: 0.2em;
  text-align: right;
}

.timelog-hours input {
  text-align: right;
}

.timelog-hours > :not(:first-child),
.totalHours > :not(:first-child) {
  line-height: 1.5em;
  padding: 0.2em 0;
}

.timelog-key {
  position: relative;
}

.dropdown-button {
  position: absolute;
  top: 0;
  right: 0.4em; // padding of parent
  width: 1.9em;
  height: 1.9em;
  background-color: blue;
}

.dropdown {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 20em;
  background-color: lightgrey;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 10;
  padding: 1em;
}

.issueGroup {
  margin-bottom: 1em;
}

.issueGroupHeader {
  margin-bottom: 0.5em;
  background-color: rgb(66, 184, 221);
}
